body {
  background-color: #FFB6C1; /* Light pink background color */
  text-align: center;
  font-family: "Helvetica Neue", Arial, sans-serif; /* Modern font */
  font-size: 22px;
  line-height: 1.5;
  color: #333333;
}

.slideshow-container {
  position: relative;
  margin: auto;
  max-width: 500px;
  overflow: auto; /* Enable scrolling */
  margin-top: 40px;
}

.image-slide {
  display: none;
  max-width: 100%;
  height: auto;
  animation: fade 15s ease-in-out infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  16.67% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.image-description {
  margin-top: 10px;
  font-size: 16px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Background Animation */
html {
  height: 100%;
  overflow: hidden;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  background-image: radial-gradient(
    circle,
    rgba(247, 251, 255, 0.1) 20%,
    rgba(30, 115, 181, 0.2) 90%
  );
  animation: animateBackground 15s linear infinite;
}

@keyframes animateBackground {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
